name: python continuous integration
on: push
permissions: read-all

jobs:
  build-python:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: Test with pytest
        run: |
          pytest
          
  push-docker:
      name: Push to docker hub
      runs-on: ubuntu-latest
      needs: build-python
      steps:
        - name: login to docker hub
          uses: docker/login-action@master
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASS }}
            
        - name: build and push to dockerhub
          uses: docker/build-push-action@master
          with:
            context: .
            push: true
            tags: ptn77/flaskDockerHelloWorld:latest, ptn77/flaskDockerHelloWorld:${{ github.run_number }}  
     
    
