name: python continuous integration
on: push
jobs:
  build-python:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Test with pytest
        run: |
          pytest
  release-project:
      name: Release project
      runs-on: ubuntu-latest
      needs: build-python
      steps:
        - name: Archive Release
          uses: thedoctor0/zip-release@main
          with:
            type: 'zip'
            filename: 'release.zip'
            exclusions: '*.git* /*node_modules/* .editorconfig'
        - name: view contents of artifacts
          run: ls -R
        - name: Upload Release
          uses: ncipollo/release-action@v1
          with:
            artifacts: "release.zip"
            token: ${{ secrets.GITHUB_TOKEN }}
        - name: Create Github release
          uses: actions/create-release@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            tag_name: v${{ github.ref }}
            release_name: Release v${{ github.ref }}        
  
     
    
