name: python continuous integration
on: push
jobs:
  build-python:
    name: Build python env 
    runs-on: ubuntu-latest
    container: python:3.7
    steps:
      - run: pip --version
      - run: python --version