name: python continuous integration
on: push
jobs:
  release-project:
    name: Release project
    runs-on: ubuntu-latest
    needs: build-python
    steps:
      - name: view contents of artifacts
        run: ls -R
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: 'release.zip'
          exclusions: '*.git* /*node_modules/* .editorconfig'
      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "release.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Github release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.ref }}
          release_name: Release v${{ github.ref }}
  build-python:
    name: Build python env 
    runs-on: ubuntu-latest
    container: python:3.7
    steps:
      - run: pip --version
      - run: python --version
      - run: pip install flask
      - run: flask --version
      - uses: actions/checkout@v3
      - run: dir
      - run: export FLASK_APP='app.py'
      # - name: Run the python application
        # run: python app.py
     
    
