name: python continuous integration
on: push
jobs:
  create-release:
    name: Create github release
    runs-on: ubuntu-latest
    needs: build-python
    steps:
      - name: Download app artifacts
        uses: actions/download-artifact@v3
        with:
          name: my-app
      - name: view contents of artifacts
        run: ls -R
      - name: Archive the app contents
        with:
          filename: app.zip
      - name: Create Github release
        uses: actions/create-release@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
  build-python:
    name: Build python env 
    runs-on: ubuntu-latest
    container: python:3.7
    steps:
      - run: pip --version
      - run: python --version
      - run: pip install flask
      - run: flask --version
      - uses: actions/checkout@v3
      - run: dir
      - run: export FLASK_APP='app.py'
      # - name: Run the python application
        # run: python app.py

    